header {
    background-color: rgba(50, 50, 50, 1);
    border-bottom: 2px groove lightgray;
    padding: 0 20px;
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
}

#headerLink {
    display: flex;
    justify-content: center;
}

#headerText {
    font-family: "Audiowide", monospace;
    font-size: 2em;
    margin: 0.5em;
    color: gainsboro;
    font-style: normal;
    text-decoration: none;
}

.logo {
    background: url(../../assets/img/logo.png) no-repeat;
    background-size: contain;
    height: 4rem;
    width: 4rem;
    margin: auto 0.2rem;
}


/********** Nav **********/

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
}

nav ul {
    display: inline-flex;
    margin: auto 0;
    height: 100%;
    list-style: none;
}

nav ul li a {
    border-radius: 10px;
    font-size: 1.1em;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    vertical-align: bottom;
    color: gainsboro;
    font-style: normal;
    text-decoration: none;
}

nav ul li a:hover,
.selected:hover {
    color: #77A7FF;
    transition: 0.5s;
}

nav ul li a:active {
    color: #2374E1;
}

.selected {
    color: #F38E7B;
}

#downloadCV{
    border: 2px solid gray;
    background-color: rgba(120, 120, 120, 0.2);
}

#downloadCV:hover{
    background-color: rgba(120, 120, 120, 0.5);
    border: 2px solid #77A7FF;
    transition: 1s;
}