<header>
    <nav>
        <a routerLink="/" id="headerLink">
            <div class="logo" title={{title}}></div>
            <div id="headerText">{{title}}</div>
        </a>
        <ul>
            <!-- <li><a routerLink="/">Home</a></li> -->
            <!-- <li><a routerLink="/AboutMe">About Me</a></li>
            <li><a routerLink="/Projects">Past Projects</a></li>
            <li><a routerLink="/ContactMe">Contact Me</a></li> -->
            <li><a href="../../assets/NgQiXin-June2022-Resume-SoftwareEngineer.pdf" id="downloadCV" download>Resume</a></li>
        </ul>
    </nav>
</header>