.copyright{
    font-family: Vollkorn, fantasy;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: rgba(50, 50, 50, 1);
    border-top: 2px groove lightgray;
    border-bottom: 2px groove lightgray;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#angularLink{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}