.copyright {
    font-family: Vollkorn, fantasy;
}

footer {
    text-align: center;
    padding: 10px;
    color: gainsboro;
    background-color: #627AA6;
    border-top: 2px groove lightgray;
    border-bottom: 2px groove lightgray;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
}