.copyright{
    font-family: Vollkorn, fantasy;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(90, 90, 90);
    border-top: 0.2rem groove lightgray;
    width: 100%;
    position: fixed;
    bottom: 0;
}