<div class="container">
  <h3 #AboutMe class="aboutTitle text-start">01.&nbsp;&nbsp;About Me</h3>
  <div>
    <section class="aboutSect accordion">
      <p>
        Hello! My name is Ng Qi Xin and I enjoy creating web applications.
        <br />
        My interest in web design and development started back in 2017 when I
        took on a diploma course that I had absolutely no idea of. I soon grew
        fond of the feeling of accomplishment that I get when I manage to design
        and develop a full webpage from scratch.
      </p>
      <p>
        Fast-forward to today, I have gained and learnt a lot on what the web
        technologies has to offer. I have also developed a
        <a routerLink="/Projects">few web applications</a> during my free time.
      </p>
      <section id="listSect">
        <div class="card">
          <h4 class="card-header p-3">Hobbies:</h4>
          <div class="card-body">
            <ul id="hobbyList" class="card-text">
              <li>Coding Web Apps</li>
              <li>E-Sports (League of Legends)</li>
              <li>Ice-Skating</li>
              <li>
                <a
                  href="https://www.facebook.com/PingYiAthletics.SG"
                  target="_blank"
                  title="Ping Yi Athletic Association"
                  >Lion & Dragon Dancing</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <h4 class="card-header p-3">Skills:</h4>
          <div class="card-body p-4">
            <ul id="skillsList" class="card-text">
              <li>
                Web Technologies<br />
                <img
                  src="../../assets/img/html-5-black.png"
                  class="skillsIcon"
                  title="HTML 5"
                />&nbsp;
                <img
                  src="../../assets/img/css-3-black.png"
                  class="skillsIcon"
                  title="CSS 3"
                />&nbsp;
                <img
                  src="../../assets/img/js-black.png"
                  class="skillsIcon"
                  title="JavaScript, jQuery"
                />
              </li>
              <li>
                Server-side<br />
                <img
                  src="../../assets/img/java-black.png"
                  class="skillsIcon"
                  title="Java"
                />&nbsp;
                <img
                  src="../../assets/img/jsp-black.png"
                  class="skillsIcon"
                  title="JSP"
                />&nbsp;
                <img
                  src="../../assets/img/php-black.png"
                  class="skillsIcon"
                  title="PHP"
                />
              </li>
              <li>
                Database<br />
                <img
                  src="../../assets/img/oracle.png"
                  class="skillsIcon"
                  title="Oracle DB"
                />&nbsp;
                <img
                  src="../../assets/img/mysql-black.png"
                  class="skillsIcon"
                  title="MySQL"
                />&nbsp;
                <img
                  src="../../assets/img/sql-server-black.png"
                  class="skillsIcon"
                  title="Microsoft SQL Server"
                />
              </li>
              <li>
                JS Frameworks<br />
                <img
                  src="../../assets/img/angular-black.png"
                  class="skillsIcon"
                  title="Angular"
                />&nbsp;
                <img
                  src="../../assets/img/nodejs-black.png"
                  class="skillsIcon"
                  title="NodeJS"
                />&nbsp;
                <img
                  src="../../assets/img/react.png"
                  class="skillsIcon"
                  title="React"
                />
              </li>
              <li>
                Adobe Software<br />
                <img
                  src="../../assets/img/illustrator-black.png"
                  class="skillsIcon"
                  title="Adobe Illustrator"
                />&nbsp;
                <img
                  src="../../assets/img/photoshop-black.png"
                  class="skillsIcon"
                  title="Adobe Photoshop"
                />&nbsp;
                <img
                  src="../../assets/img/premiere-pro-black.png"
                  class="skillsIcon"
                  title="Adobe Premiere Pro"
                />
              </li>
              <li>
                Message Queues<br />
                Kafka-ZK, MQ Explorer
              </li>
            </ul>
          </div>
        </div>
      </section>
    </section>
    <!-- <section id="photoSect">
                <div id="photoFrame">
                    <img src="../../assets/img/logo.png">
                </div>
        </section> -->
  </div>
  <h3 class="aboutTitle text-start">02.&nbsp;&nbsp; Work Experiences:</h3>
  <div #Experience>
    <section id="workExperience">
      <table>
        <tbody>
          <tr>
            <td>Present</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <h3>03.&nbsp;&nbsp; Education and Awards:</h3>
  <div #Education>
    <section id="education"></section>
  </div>
  <div class="overlayMenu">
    <div class="overlayMenuItem" (click)="scrollToElement(AboutMe)">
      01. <span>About Me</span>
    </div>
    <div class="overlayMenuItem" (click)="scrollToElement(Experience)">
      02. <span>Work Experience</span>
    </div>
    <div class="overlayMenuItem" (click)="scrollToElement(Education)">
      03. <span>Education & Awards</span>
    </div>
  </div>
</div>
