<h1 class="heading"> Contact Me Here </h1>
<div id="contactMe">
    <section id="formSection">
        <app-form></app-form>
    </section>
    <section id="socialSection">
        <a href="https://facebook.com/nqixin" target="_blank">
            <div><img src="../../assets/img/Facebook-Dark.png"> <span>@N_QiXin</span></div>
        </a>
        <a href="https://instagram.com/_xqixin" target="_blank">
            <div><img src="../../assets/img/Instagram-Dark.png"> <span>@_xQiXin</span></div>
        </a>
        <a href="https://wa.me/6592288272" target="_blank">
            <div><img src="../../assets/img/WhatsApp-Dark.png"> <span>+65 9228 8272</span></div>
        </a>
    </section>
    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "1155418181187731");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v15.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- <button (click)="fireMsg()">button 1</button>
    <button (click)="fireInnerMsg()">button 2</button> -->
</div>