<div id="bannerImg">
    <div id="bannerText">
        <h1 id="nameHeading">{{devName}}</h1>
        <h1 id="nameSubheading">{{role}}</h1>
        <p id="description">
            Welcome to my portfolio. <br>
            Here is a collection of what I have done in school and during my free time. <br>
            Take a look and feel free to get in touch with me here.
        </p>
        <a href="#downloadCV"><div class="bannerBtn">Download CV</div></a>
        <a href="#pastProjects"><div class="bannerBtn">View Past Projects</div></a>
        <a href="#contactMe"><div class="bannerBtn">Contact Me</div></a>
    </div>
</div>