/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Abril Fatface";
    src: url("assets/fonts/AbrilFatface-Regular.ttf");
}

@font-face {
    font-family: "American Captain";
    src: url("assets/fonts/AmericanCaptain-Regular.ttf");
}

@font-face {
    font-family: "Audiowide";
    src: url("assets/fonts/Audiowide-Regular.ttf");
}

@font-face {
    font-family: "Vollkorn";
    src: url("assets/fonts/Vollkorn-Regular.ttf");
}

@font-face {
    font-family: "Vollkorn Semibold";
    src: url("assets/fonts/Vollkorn-SemiBold.ttf");
}

@font-face {
    font-family: "Share Tech Mono";
    src: url("assets/fonts/ShareTechMono-Regular.ttf");
}

::-webkit-scrollbar {
    display: none;
}

::selection{
    background-color: rgba(200, 200, 200, 0.5);
}

* {
    box-sizing: border-box;
}

a, a:visited {
    text-decoration: none;
    color: #2374E1;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 30, 1);
    font-family: Audiowide, monospace;
    font-size: 16px;
    color: rgb(220, 220, 220);
    margin: 0 auto;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2.5em;
}

.container{
    width: 80%;
    margin: auto auto;
    padding: 1.5rem 2.5rem 4rem 2.5rem;
}

.container>*{
    margin-bottom: 3rem;
}

.defaultBackground{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(160deg, #4a505a, #2b2f36); */
    background: #555;
    z-index: -999;
}